# Polynomial Regression - Lab

## Introduction

In this lab you'll practice your knowledge on adding polynomial terms to your regression model!

## Objectives

You will be able to:

- Understand how to account for non-linear relationships between predictors and target variable using polynomial terms

## Create the best plot using polynomials!

Below, we created a plot with a clearly non-linear shape.

- plot a polynomial function using `PolynomialFeatures` for polynomials up until the second, third and fourth degree.
- print out the $R^2$ value for each of the three results. Draw conclusions with respect to which degree is best.

In [3]:
import numpy as np
import matplotlib.pyplot as plt

def pol(x):
    return x * np.cos(x)

x = np.linspace(0, 12, 100)
rng = np.random.RandomState(1234)
rng.shuffle(x)
x = np.sort(x[:25])
y = pol(x) + np.random.randn(25)*2

plt.scatter(x, y, color='green', s=50, marker='.')

plt.show();

## Solution

In [4]:
x.shape, y.shape

((25,), (25,))

In [5]:
## your code here
from sklearn.preprocessing import PolynomialFeatures
import pandas as pd #import the library
import numpy as np

In [18]:
new_x = pd.DataFrame(x)

In [22]:
poly = PolynomialFeatures(2) #The degree of the polynomial. We will change this to check degrees 2, 3, and 4
x_fit = poly.fit_transform(new_x) #fitting AND transforming our x data (our actual values).

In [23]:
x_fit.shape, y.shape

((25, 3), (25,))

In [24]:
from sklearn.linear_model import LinearRegression
reg_poly = LinearRegression()
reg_poly.fit(x_fit, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

___
I stopped here
___

In [30]:
x_linspace = pd.DataFrame(np.linspace(0,13, 200))
x_linspace

             0
0     0.000000
1     0.065327
2     0.130653
3     0.195980
4     0.261307
5     0.326633
6     0.391960
7     0.457286
8     0.522613
9     0.587940
10    0.653266
11    0.718593
12    0.783920
13    0.849246
14    0.914573
15    0.979899
16    1.045226
17    1.110553
18    1.175879
19    1.241206
20    1.306533
21    1.371859
22    1.437186
23    1.502513
24    1.567839
25    1.633166
26    1.698492
27    1.763819
28    1.829146
29    1.894472
..         ...
170  11.105528
171  11.170854
172  11.236181
173  11.301508
174  11.366834
175  11.432161
176  11.497487
177  11.562814
178  11.628141
179  11.693467
180  11.758794
181  11.824121
182  11.889447
183  11.954774
184  12.020101
185  12.085427
186  12.150754
187  12.216080
188  12.281407
189  12.346734
190  12.412060
191  12.477387
192  12.542714
193  12.608040
194  12.673367
195  12.738693
196  12.804020
197  12.869347
198  12.934673
199  13.000000

[200 rows x 1 columns]

## Summary

Great! You now know how to include polynomials in your linear model!